* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #1BBC9B;
}

.login-form {
  width: 300px;
  background-color: #EEEFF1;
  padding: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

.text-field {
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.submit-btn {
  font-size: 14px;
  background-color: #1BBC9B;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
}

.submit-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.links {
  margin-top: 30px;
  text-align: center;
}

.links a {
  font-size: 12px;
  color: #9B9B9B;
}
